.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    color: red;

}

.dialogsItems .active{
 color: black;
}

.messages {
    
    color: red;
}

.message {
    padding: 5px;
    color: red;
}